
# hidden files and directories except certain git files
.*
!.gitattributes
!.gitignore

# Python cache directories
__pycache__/

# Databases
*.db

# Google site verification file
google*.html

# virtualenv components
/bin/
/include/
/lib/
/pip-selfcheck.json
/share/

# explicit paths to ignore
/cache
/output

